body {
  margin: 0;
  padding: 0;
  color: #eee;
  font-family:  'Roboto', sans-serif;
}
@font-face{ 
  font-family: 'Open Sans', sans-serif;
  src: url(fonts/OpenSans-LightItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face{
  font-family:  'Roboto', sans-serif;
  src: url(fonts/Roboto-Medium.ttf);
}
main {
  display: inline-block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #1d1b1b;
}

.title{
  display: grid;
  grid-template-columns: 20% 80%;
}
.back {
  grid-column: 1/1;
}
.back > a > img {
  width: 30px;
  margin-top: 25px;
  margin-left: 5%;
}
.title >h2 {
  grid-column: 2/2;
  
}
.series {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #eee;
  ;
  text-align: center;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

.exercise {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column: 1/-1;
}

.exercise>iframe {
  width: 100%;
  border-radius: 20px;
}

.timer{
  font-family:  'Roboto', sans-serif;
}
.timer>h2{
  margin: 0;
}


.done{
  width: 46%;
  height: 32px;
  align-self: center;
  margin-left: 25px;
  margin-bottom: 20px;
}
.time{
  display: none ;
  width: 100%;
  border: 1px solid;
  position: fixed;
  bottom: 0;
}

.unit {
  font-family: 'Open Sans', sans-serif !important;
  font-size: small;
  font-weight: lighter;
}