body{
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  color: #eee;
}
main{
  display: inline-block;
  width: 100% ;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #1d1b1b;
}


.series {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid  #eee;;
  text-align: center;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}
.exercise{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column: 1/-1;
}
.exercise >iframe{
  width: 100%;
  border-radius: 20px;
}
.ytp-title-channel{
  display: none !important;
}
#Sets {
  grid-row: 1/1;
}
#reps {
  grid-row: 2/2;
}
#exercise {
  grid-row: 3/3;
}
#weight {
  grid-row: 4/4;
}
#SetStatus {
  grid-row: 5/5;
}
.EndSet {
  grid-row: 6/6;
}
#complete{
  width: 100%;
}
#timer{
  display: none;
  width: 100%;
  background-color: red;
  bottom: 0;
  position: fixed;
}