body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    color: #ffffff;
}
h2{
    margin:0 ;
}
h3{
    margin:0 ;
}
main{
    display: inline-block;
    width: 100% ;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #091a1f;

}
footer{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 28%;
    margin-left:15px;
    padding-left: 5%;
    width: 84%;
    height: 9%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    background-color:#1d1b1b;
}
.head{
    display: grid;
    grid-template-rows: 60% 20% 20%;
    height: 13rem;
    padding-left: 5%;
    background-image: url(strength.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.head >h2{
    margin:0 ;
}
.a{
    grid-row: 2/2;
}
.b{
    grid-row: 3/3;
}
.plans{
    display: grid;
    grid-template-columns: 7% 90% 3%;
    height: auto;
    margin-bottom: 25%;
}
.TrainingPlan{
    display: grid;
    grid-template-rows: 40% 60%;
    border: 1px solid;
    grid-column: 2/2;
    border-radius: 50px;
    margin-top: 10px;
    height: 18rem;
    width: 95%;
    background-color: #fff; 
    color: #1d1b1b;
    
}
.info{
    padding-left: 5%;
    padding-top: 5%;
    grid-row: 1/1;

}
.img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 2/2;
    padding-left: 5%;
}
.img >img{
    width: 4rem;
    border-radius: 10px;
}
.demo1{
    margin-top: 50px;
}
.demo2{
    margin-top: 25px;
}
.Home{
    text-align: center;
    width: 2rem;
    border-radius: 100px;
}
.Articles{
    text-align: center;
    width: 2.5rem;
}
.User{
    text-align: center;
    width: 2rem;
}
.Home>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.Articles>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.User>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.active{
    background-color:#cec9c8;
}