body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    color: #ffffff;
}
main{
    display: inline-block;
    width: 100% ;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}
footer{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 28%;
    margin-left:15px;
    padding-left: 5%;
    width: 84%;
    height: 9%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    background-color:#1d1b1b;
}
.Home{
    text-align: center;
    width: 2rem;
    border-radius: 100px;
}
.Articles{
    text-align: center;
    width: 2.5rem;
}
.User{
    text-align: center;
    width: 2rem;
}
.Home>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.Articles>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.User>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.active{
    background-color:#cec9c8;
}