body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    color: #ffffff;
}
main{
    display: inline-block;
    width: 100% ;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}
header{
    margin: 0;
    padding-left: 10%;
    width: 85%;
    height: 25%;
    color: #000000;
}
.greetings{
    text-align: center;
    grid-row: 1/1;
}
.rm{
    justify-content: center;
    display: flex;
    flex-flow: row;
    gap: 10px;
    flex-wrap: wrap;
    grid-row: 2/2;
}
.routine{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 5%;
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 25%;
    border: 1px solid #ffffff;
    border-radius: 35px;
    margin-left: 5%;

}
.Training{
    display: grid;
    grid-template-rows: 70% 30%;
    border: 1px solid black;
    border-radius: 20px;
    width: 9rem;
    height: 17rem;


}
.STrenght{
    background-color: #14080E;
}
.Muscle{
    margin-top: 55px;
    background-color: #083D77;
}
.Conditioning{
    background-color: #256D1B;
}
.Training >a >img{
    width: 100%;
    grid-row: 1/1;
    height: 110%;
    border-radius: 20px;
}
.category{
    grid-row: 2/2;
   
    padding-left: 10%;
    padding-top: 10%;
    font-size: 18px;
}

.img{
    grid-row: 1/-1;
    grid-column: 2/2;
    width:90%;
    height: 80%;
    padding-right: 5px;
    padding-top: 50%;
}

footer{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 28%;
    margin-left:15px;
    padding-left: 5%;
    width: 84%;
    height: 9%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    background-color:#1d1b1b;
}
.Home{
    text-align: center;
    width: 2rem;
    border-radius: 100px;
}
.Articles{
    text-align: center;
    width: 2.5rem;
}
.User{
    text-align: center;
    width: 2rem;
}
.Home>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.Articles>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.User>a >img{
    text-align: center;
    height: 1rem;
    width: 1rem;
}
.active{
    background-color:#cec9c8;
}