body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}
main{
    display: inline-block;
    width: 100% ;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #1d1b1b;
}
header{
    display: inline-block;
    width: 99%;
    height: 25%;
    border: 1px solid #ffffff;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color:#EC4D37;
}
.routine{
    display:flex;
    flex-flow: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 15px;
    width: 90%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 25%;
    border: 1px solid #ffffff;
    border-radius: 35px;
    margin-left: 5%;

}
#Work{
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 70% 30%;
    border: 1px solid #ffffff;
    width: 90%;
    height: 10rem;
    border-radius: 25px;
}
.Info{
    grid-row: 1/1;
    grid-column: 1/1;
    width: 100%;
    padding-left: 25px;
    padding-top: 10px;
}
.Info >h2{
    margin: 0;
}
.Info >h3{
    margin: 0;
}
.start{
    grid-row: 2/2;
    width: 100%;
    padding-left: 25px;
    grid-column: 1/1;
}
.start >a{
    background-color: transparent;
    border-radius: 50px;
    width: 5rem;
    height: 1.5rem;
}
.start >button{
    background-color: transparent;
    border-radius: 50px;
    width: 5rem;
    height: 1.5rem;
}
.img{
    grid-row: 1/-1;
    grid-column: 2/2;
    width:90%;
    height: 80%;
    padding-right: 5px;
    padding-top: 50%;
}
.Strenght{
    background-color:#EC4D37;
}
.Muscle{
    background-color: #A73C2E;
}
.Conditioning{
    background-color: #622C24;
}
footer{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 12%;
    padding-left: 5%;
    width: 94%;
    height: 10%;
    border: 1px solid #ffffff;
    position: fixed;
    bottom: 0;
    background-color:#1d1b1b;
}
.Home{
    text-align: center;
    width: 5rem;
}
.Articles{
    text-align: center;
    width: 5rem;
}
.User{
    text-align: center;
    width: 5rem;
}
.Home>img{
    width: 3rem;
    height: 3rem;
}
.Articles>img{
    width: 3rem;
    height: 3rem;
}
.User>img{
    width: 3rem;
    height: 3rem;
}
.active{
    background-color:#EC4D37;
}