body{
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}
main{
    color: #ffffff;
    display: inline-block;
    width: 100% ;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1d1b1b;
}
.NAME{
    width: 95%;
    height: auto;
    background-color:#EC4D37;
    display: grid;
    padding-left: 5%;
    
    
}
header{
    width: 100%;
    height: auto;
    margin-top: 5%;
    text-align: center;
}
header>img{
    width: 10rem;
    height: 10rem;
    border-radius: 90px;
}
.stats{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: auto;
    gap: 1%;

}
.rm{
    font-size: 20px;
    width: 100%;
    grid-row: 1/1;
    text-align: center !important;
}
.sbd{
    font-size: 20px;
    display: flex;
    width: 100%;
    grid-row: 2/2;
    gap: 10%;
    flex-flow: row;
    justify-content: center;
}
.total{
    font-size: 20px;
    grid-row: 3/3;
    text-align:center;
}
footer{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 12%;
    padding-left: 5%;
    width: 94%;
    height: 10%;
    border: 1px solid #ffffff;
    position: fixed;
    bottom: 0;
    background-color:#1d1b1b;
}
.Home{
    text-align: center;
    width: 5rem;
}
.Articles{
    text-align: center;
    width: 5rem;
}
.User{
    text-align: center;
    width: 5rem;
}
.Home>a >img{
    text-align: center;
    height: 3rem;
    width: 3rem;
}
.Articles>a >img{
    text-align: center;
    height: 3rem;
    width: 3rem;
}
.User>a >img{
    text-align: center;
    height: 3rem;
    width: 3rem;
}
.active{
    background-color:#EC4D37;
}